PORT=8081
MONGO_URI=mongodb://127.0.0.1:27017/vidcall
JWT_SECRET=change_this_secret
CLOUD_NAME=your_cloudinary_cloud_name
API_KEY=your_cloudinary_api_key
API_SECRET=your_cloudinary_api_secret
CLIENT_URL=http://localhost:5173
